
@model List<Factura>

<h2>Historial de  las Facturas</h2>

<a asp-action="Crear">Nueva  Factura</a>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Acción</th>
    </tr>

    @foreach (var f in Model)
    {
        <tr>
            <td>@f.Id</td>
            <td>@f.Fecha</td>
            <td>@f.Total</td>
            <td>
                <a asp-action="Descarga" asp-route-id="@f.Id">
                    Descargar
                </a>
            </td>
        </tr>
    }
</table>