@{
    ViewData["Title"] = "Inicio";
}

<div class="card p-5 text-center">
    <h1>🚗 AutoLavado MVC</h1>
    <p class="text-muted">Sistema de gestión de lavacar</p>

    <a asp-controller="AutoLavado" asp-action="Registrar"
           class="btn btn-primary btn-lg mt-3">
        Registrar Servicio
    </a>
</div>

